# 2022 EPO-2 Smart Robot Challenge
# Mentor group B4-2
# Pin assignment, 13-05-2022
NET "clk" LOC = B8;
NET "reset" LOC = P11; # BTN3 (A7) --> P11 (switch) used for reset now
NET "reset" CLOCK_DEDICATED_ROUTE = FALSE; # get rid of error
NET "sensor[0]" LOC = "B5" ;
NET "sensor[1]" LOC = "J3" ;
NET "sensor[2]" LOC = "A3" ;
NET "motor_l_pwm" LOC = "A9" ; # servo left
NET "motor_r_pwm" LOC = "B9" ; # servo right
#NET "route_straight" LOC = L3; # go straight (now by receiving 'x')
#NET "route_corner" LOC = K3; # take a corner (now by receiving 'p' or 't')
#NET "mine" LOC = B4; # mine detected
NET "tx" LOC = "C9"; # connect to xbee
NET "rx" LOC = "A10"; # connect to xbee