# 2022 EPO-2 Smart Robot Challenge
# Mentor group B4.2
# Pin assignment, 10-06-2022
NET "clk" LOC = "B8";
NET "reset" LOC = "P11";									# switch P11 used for reset
NET "reset" CLOCK_DEDICATED_ROUTE = FALSE;			# remove error in ISE Project Navigator
NET "sensor[0]" LOC = "B5";								# IR sensor left
NET "sensor[1]" LOC = "J3";								# IR sensor middle
NET "sensor[2]" LOC = "A3";								# IR sensor right
NET "motor_l_pwm" LOC = "A9";								# servo left
NET "motor_r_pwm" LOC = "B9";								# servo right
NET "tx" LOC = "C9";											# connect to XBee
NET "rx" LOC = "A10";										# connect to XBee
NET "mine_analog" LOC = "C6";								# analog input signal
NET "wave_out" LOC = "C5";									# square wave to mine sensor
NET "led[0]" LOC = "G1";									# all leds indicate the command that is currently being sent through XBee
NET "led[1]" LOC = "P4";
NET "led[2]" LOC = "N4";
NET "led[3]" LOC = "N5";
NET "led[4]" LOC = "P6";
NET "led[5]" LOC = "P7";
NET "led[6]" LOC = "M11";
NET "led[7]" LOC = "M5";